div {
  background-color: rgb(178, 248, 227);
  display: flex;
  width: 85%;
  margin: auto;
  margin-top: 60px;
}
p {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.img-propriety {
  margin-bottom: 30px;
  margin-right: 20px;
  width: 25%;
}